<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sell Your Property</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
   <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}">

</head>
<body class="bg-light">

  {%with messages = get_flashed_messages()%}
        {% if messages %}
            {% for messages in messages %}
                <div class = "alert alert-danger">{{messages}}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <div class="r1 container-fluid py-2 px-4">
        <div class="r1c1">
           <h2> HomeHub</h2>
        </div>

        <div class="r1c2">
           {% if 'user_id' in session %}
            <a href="{{ url_for('logout') }}">Sign out</a>
            {% else %}
            <a href="{{ url_for('login') }}">Login</a>
            {% endif %}
        </div>
    </div>

    <div class="r2">
       
        <nav class="nav-links" id="nav-links">
        <a href="{{url_for('home')}}">Home</a>
        <a href="{{url_for('buy')}}">Buy</a>
        <a href="{{url_for('sell')}}">Sell</a>
        <a href="{{url_for('rent')}}">Rent</a>
        </nav>
    </div>

  <div class="container py-5">
    <h2 class="text-center mb-4 fw-bold head">Sell Your Property</h2>

    <div class="card shadow p-4">
      <form action = "{{url_for('sell')}}" method="POST" enctype="multipart/form-data">

        <!-- Row 1 -->
        <div class="row mb-3">
          <div class="col-md-6">
            <label class="form-label head">Full Name</label>
            <input type="text" class="form-control" placeholder="Enter your full name" name="fullname" required>
          </div>

          <div class="col-md-6">
            <label class="form-label head">Email Address</label>
            <input type="email" class="form-control" placeholder="Enter your email" name="email" required>
          </div>
        </div>
 
        <!-- Row 2 -->
        <div class="row mb-3">
          <div class="col-md-6">
            <label class="form-label head">Phone Number</label>
            <input type="tel" class="form-control" placeholder="e.g. 08012345678" name = "phone" required>
          </div>

          <div class="col-md-6">
            <label class="form-label head">Property Type</label>
            <select class="form-select" name="ptype" required>
              <option selected disabled>Select type</option>
              <option>Apartment</option>
              <option>Duplex</option>
              <option>Bungalow</option>
              <option>Land</option>
              <option>Commercial Property</option>
            </select>
          </div>
        </div>

        <!-- Row 3 -->
        <div class="row mb-3">
          <div class="col-md-12">
            <label class="form-label head">Property Address</label>
            <input type="text" class="form-control" placeholder="Enter full address" name = "address" required>
          </div>
        </div>

        <!-- Row 4 -->
        <div class="row mb-3">
          <div class="col-md-4">
            <label class="form-label head">Price (₦)</label>
            <input type="number" class="form-control" placeholder="Enter price" name = "price" required>
          </div>

          <div class="col-md-4">
            <label class="form-label head">Bedrooms</label>
            <input type="number" class="form-control" placeholder="e.g. 3" name="bedroom">
          </div>

          <div class="col-md-4">
            <label class="form-label head">Bathrooms</label>
            <input type="number" class="form-control" placeholder="e.g. 2" name = "bathroom">
          </div>
        </div>

        <!-- Row 5 -->
        <div class="mb-3">
          <label class="form-label head">Property Description</label>
          <textarea class="form-control" rows="4" placeholder="Describe the property..." name="description"></textarea>
        </div>

        <!-- Row 6 -->
        <div class="mb-4">
          <label class="form-label head">Upload Property Images</label>
          <input type="file" class="form-control" name="images" multiple required>
          <small class="text-muted">You can upload multiple images</small>
        </div>

        <div class="text-center">
          <button type="submit" class="btn btn-primary  px-4 py-2 ">Submit Property</button>
        </div>

      </form>
    </div>
  </div>

 

</body>
</html>
